<div class="space" fxLayout = "row wrap" fxLayoutAlign="center center">

  <!-- HEADER -->
  <div class="menuDiv" fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="space-between">

        <!-- CANTO ESQUERDO DO HEADER -->
        <div fxLayoutGap="10px"  fxLayoutAlign="start center">
          <mat-icon>folder</mat-icon>
          <span class="letrasSpan">Flex-Layout Presentation</span>
        </div>

        <!-- CANTO DIREITO DO HEADER-->
          <div fxLayoutGap="5px"  fxFlex="1 1 15%" fxLayoutAlign="start center" fxShow fxHide.xs>
            <div>|Text 1| </div>
            <div>|Text 2| </div>
            <div>|Text 3| </div>
          </div>

          <!-- CANTO DIREITO DO HEADER (botão menu que desaparece) -->
          <div fxHide fxShow.xs>
            <button mat-button [matMenuTriggerFor]="menu">
              <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>|Text 1|</button>
              <button mat-menu-item>|Text 2|</button>
              <button mat-menu-item>|Text 3|</button>
            </mat-menu>
          </div>
      </div>

</div>
