
/* QUARTA DIV */
/* .fourthDiv{} */
/* .bigDiv{font-size: 40px; min-height: 480px; background-color: chartreuse} */
.divG{font-size: 40px; min-height: 480px; background-color: chartreuse;}
.divH{font-size: 20px; min-height: 160px; background-color: blueviolet;}
.divI{font-size: 20px; min-height: 160px; background-color: salmon}
.divJ{font-size: 20px; min-height: 160px; background-color: grey}
