<div fxLayout="row wrap" fxLayoutAlign="center center">

<!-- QUARTA DIV INFERIOR DA PÁGINA -->
<div fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="row wrap">

  <!-- DIV DA IMAGEM GRANDE: -->
  <div fxFlex="80%" fxFlex.sm="100%" fxFlex.xs="100%">
    <div class="divG1" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%"
         fxLayoutAlign="center center" fxShow fxHide.sm fxHide.xs>G</div>
  </div>

  <!-- DIV DA IMAGEM PEQUENA:  -->
  <div fxFlex="80%" fxFlex.sm="100%" fxFlex.xs="100%" fxShow.sm fxHide fxHide.xs>
    <div class="divG2" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center">G</div>
  </div>

  <!-- DIV DA IMAGEM EXTRA PEQUENA:  -->
  <div fxFlex="80%" fxFlex.sm="100%" fxFlex.xs="100%" fxShow.xs fxHide.sm fxHide>
    <div class="divG3" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center">G</div>
  </div>

  <!-- DIVS DA DIREITA DA TELA -->
  <div fxFlex="20%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="row wrap">
    <div class="divH" fxFlex="100%" fxFlex.sm="33%" fxFlex.xs="33%" fxLayoutAlign="center center">H</div>
    <div class="divI" fxFlex="100%" fxFlex.sm="33%" fxFlex.xs="33%" fxLayoutAlign="center center">I</div>
    <div class="divJ" fxFlex="100%" fxFlex.sm="34%" fxFlex.xs="34%" fxLayoutAlign="center center">J</div>
  </div>

</div>

</div>
