
/* QUARTA DIV */
/* .fourthDiv{} */
/* .bigDiv{font-size: 40px; min-height: 480px; background-color: chartreuse} */
.divG1{background-image: url('https://c0.wallpaperflare.com/preview/555/750/365/blurred-background-brewed-coffee-brown-caffeine.jpg'); background-repeat: no-repeat; background-size: cover;  font-size: 40px; min-height: 480px; background-color: chartreuse;}
.divG2{background-image: url('https://images7.alphacoders.com/509/thumbbig-509782.webp'); background-repeat: no-repeat; background-size: cover;  font-size: 40px; min-height: 480px; background-color: chartreuse;}
.divG3{background-image: url('https://wallpaperaccess.com/full/6105881.jpg'); background-repeat: no-repeat; background-size: cover;  font-size: 40px; min-height: 480px; background-color: chartreuse;}
.divH{font-size: 20px; min-height: 160px; background-color: blueviolet;}
.divI{font-size: 20px; min-height: 160px; background-color: salmon}
.divJ{font-size: 20px; min-height: 160px; background-color: gainsboro}



