<div fxLayout = "row wrap" fxLayoutAlign="center center">

<!-- QUARTA DIV INFERIOR DA PÁGINA -->
<div class="fourthDiv" fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="row wrap">

  <div class="bigDiv" fxFlex="80%" fxFlex.sm="100%" fxFlex.xs="100%">
    <div class="divG" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center">G</div>
  </div>

  <div class="rightDiv" fxFlex="20%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="row wrap">
    <!-- PULO DO GATO AQUI: como estas divs estão Flex "100%", elas vão consumir todas um tamanho "X" pré-estabelecido pelo flex-layout,
      e por isso elas vão ficar empilhadinhas 1 sobre a outra dentro do espaço de "20%" da div pai. Dessa forma elas vão formar um bloco maior
      que as outras DIVs. E por isso o bloco "G", que também deve cobrir 100%, vai ficar tão grande... -->
    <div class="divH" fxFlex="100%" fxFlex.sm="33%" fxFlex.xs="33%" fxLayoutAlign="center center">H</div>
    <div class="divI" fxFlex="100%" fxFlex.sm="33%" fxFlex.xs="33%" fxLayoutAlign="center center">I</div>
    <div class="divJ" fxFlex="100%" fxFlex.sm="34%" fxFlex.xs="34%" fxLayoutAlign="center center">J</div>
  </div>

</div>

  <!-- ESPAÇO SEPARANDO O FOOTER-->
  <div class="space" fxFlex="100%"></div>


</div>

