<div fxLayout = "row wrap" fxLayoutAlign="center center">
<!--QUINTA DIV (DIV PAI MANDANDO NOS FILHOS) -->
<div class="fifithDiv" fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="row wrap">
  <div class="divL" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center">L</div>
  <div class="divM" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center">M</div>
  <div class="divN" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center" >N</div>

</div>


<!-- ESPAÇO SEPARANDO O HEADER E A DIV ABAIXO -->
<div class="space" fxFlex="100%"></div>   <!-- isso cria uma pequena separação entre a o header e a div embaixo do header' -->

</div>


