<div fxLayout="column">
<!--QUINTA DIV (DIV PAI MANDANDO NOS FILHOS) -->
  <div fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="column wrap" fxHide fxShow.sm>
    <div class="divL" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center">L</div>
    <div class="divM" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center">M</div>
    <div class="divN" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center" >N</div>
  </div>
</div>

<div fxLayout="column">
  <div fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="column wrap" fxHide fxShow.xs>
    <div class="divL" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center">L</div>
    <div class="divM" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center">M</div>
    <div class="divN" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center" >N</div>
  </div>
</div>
