<div fxLayout="column wrap">
  <!--QUINTA DIV (DIV PAI MANDANDO NOS FILHOS) -->
  <div fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="0 auto" fxLayoutAlign="center center">
    <div class="divL" fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center">L</div>
    <div class="divM" fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center">M</div>
    <div class="divN" fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center" >N</div>
  </div>
</div>
