
/* QUINTA DIV */
.divL{font-size: 20px; min-height: 160px; background-color: gold;}
.divM{font-size: 20px; min-height: 160px; background-color: blue;}
.divN{font-size: 20px; min-height: 160px; background-color: green;}
