
/* TERCEIRA DIV */
/* .thirdDiv{} */
/* .colunaDe50porcento{} */
.divD{font-size: 20px; min-height: 160px; background-color: lightskyblue;}
.divE{font-size: 20px; min-height: 160px; background-color: yellow;}
/* .segundaColunaDe50porcento{} */
.divF{font-size: 20px; min-height: 160px; background-color: lightcoral;}
