/* TERCEIRA DIV */
.divD{font-size: 20px; min-height: 160px; background-color: lightskyblue;}
.divE{font-size: 20px; min-height: 160px; background-color: yellow;}
.divF{font-size: 20px; min-height: 160px; background-color: lightcoral;}
