
<div fxLayout = "row wrap" fxLayoutAlign="center center" >


  <!-- SEGUNDA DIV -->
  <div class="secondDiv" fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="row wrap">
    <div class="divA" fxFlex="25%" fxFlex.sm="50%" fxFlex.xs="100%" fxLayoutAlign="center center">A</div>
    <div class="divB" fxFlex="25%" fxFlex.sm="50%" fxFlex.xs="100%" fxLayoutAlign="center center">B</div>
    <div class="divC" fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center">C</div>
  </div>

  <!-- ESPAÇO SEPARANDO AS DUAS GRANDES DIVS DO MEIO DA PÁGINA -->
  <div class="space" fxFlex="100%"></div>

</div>




 <!-- ABAIXO ESTUDANDO O GAP:
 <div fxLayout="row wrap" fxLayoutAlign="center center">

  <div fxFlex="70%" fxLayoutGap="25px" >

    <div fxFlex="50%" style="background-color: red;">Teste 1 aaaaaaaaaaaaaaaaaaaaaaaa</div>
    <div fxFlex="25%" style="background-color: green;">Teste 2 aaaaaaaaaaaaaaaaaaaaaaaa</div>
    <div fxFlex="25%" style="background-color: blue;">Teste 3 aaaaaaaaaaaaaaaaaaaaaaaa</div>

  </div>

</div> -->






